<h1>Box</h1>
<!--<p>Find me in app/views/box/index.html.erb</p>-->

<table class ="table table-bordered">
	<thead>
		<tr>
			<% @show_fields.each do |k| %>
			<th><%= k %></th>
			<%end%>
		</tr>
	</thead>
	<tbody><% @box_files_info.each do |entry| %>
		<tr>
		<% @show_fields.each do |k| %>
			<td><%= entry[k] %></td>
		<% end %>
	</tr>
	<% end %>

</tbody>
</table>



